@import '../../styles/variables';

.github-search-form {
    margin: 10px;

    img {
        margin-right: 20px;
        max-height: 64px;
        max-width: 64px;
    }

    &__title {
        display: flex;

        .title__heading {
            font-size: 36px;
            font-weight: bold;
        }

        .title__caption {
            color: $color-grey;
        }
    }
}
