@import '../styles/variables';

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    .card {
        width: 50%;

        > div {
            border: 1px solid $color-grey;
            border-radius: 11px;
            margin: 10px;

            img {
                border-top-left-radius: 11px;
                border-top-right-radius: 11px;
                width: 100%;
            }

            div {
                border-top: 1px solid $color-grey;
                padding: 10px;
                word-break: break-word;
            }
        }

        @media only screen and (min-width: 769px) {
            width: 33.3%;
        }
    }
}
